{
    "extends": "airbnb",
    "env": {
        "jest": true
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": ["error", 150],
        "no-param-reassign": "off",
        "new-cap": "off",
        "func-names": "off",
        "no-extend-native": "off",
        "consistent-return": "off",

    }
}
